ENVIRONMENT=local
PORT=3001
DATABASE_URL=postgresql://nua:nua_secret@localhost:5432/nua_salud?sslmode=disable
DASHBOARD_DATABASE_URL=postgresql://nua:nua_secret@localhost:5432/nua_dashboard?sslmode=disable
JWT_SECRET=EeiuB+wqxJkuQ9T/PaE2Ng2YB7z5du45nW54EoAcDEVELOP
JWT_REFRESH_SECRET=3Grtlz3wZmYsLn8tpBnIjcltOtufZQjRWZbQHbk7DEVELOP
